@import "@angular/material/prebuilt-themes/deeppurple-amber.css"

html, body 
  height: 100%
  padding: 0
  margin: 0
a
  cursor: pointer
  color: #7688c4
body > .mce-notification-warning
  display: none