<h2 mat-dialog-title [ngSwitch]="data?.action">
  <ng-container *ngSwitchCase="'update'">Обновить</ng-container>
  <ng-container *ngSwitchCase="'create'">Добавить</ng-container>
   процедуру</h2>

<mat-dialog-content>
  <form [formGroup]="procedureForm">
    <mat-form-field>
      <mat-label>Имя:</mat-label>
      <input matInput required="required" placeholder="Название процедуры" formControlName="name" />
    </mat-form-field>
    <div>
      <editor formControlName="content"></editor>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Закрыть</button>
  <button mat-raised-button [mat-dialog-close]="procedureForm.value">Сохранить</button>
</mat-dialog-actions>