<h2 mat-dialog-title [ngSwitch]="data.action">
  <ng-container *ngSwitchCase="'update'">Изменить</ng-container>
  <ng-container *ngSwitchCase="'create'">Добавить новую</ng-container>
  акцию</h2>
<mat-dialog-content>
  <form [formGroup]="promotionForm" fxLayout="column" fxLayoutGap="16px">
    <mat-form-field>
      <mat-label>Имя:</mat-label>
      <input matInput formControlName="name" required="required" />
    </mat-form-field>
    <div>
      <editor formControlName="content" [init]="{}"></editor>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
      <mat-form-field fxFlex.gt-sm="50">
        <mat-label>Действие с:</mat-label>
        <input matInput [matDatepicker]="vfrom" placeholder="Действует с" formControlName="validity_date_from" (dateChange)="changeDate($event)" />
        <mat-datepicker-toggle matSuffix [for]="vfrom"></mat-datepicker-toggle>
        <mat-datepicker #vfrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex.gt-sm="50">
        <mat-label>Действие до:</mat-label>
        <input matInput [matDatepicker]="vto" placeholder="Действует до" formControlName="validity_date_to" [min]="minDateTo"  />
        <mat-datepicker-toggle matSuffix [for]="vto"></mat-datepicker-toggle>
        <mat-datepicker #vto></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Закрыть</button>
  <button mat-button (click)="closeBox()" color="primary">Сохранить</button>
</mat-dialog-actions>