<div fxLayout="row" fxLayoutAlign="start center" class="title">
  <h1 class="mat-display-1">{{data?.name}}</h1>
  <span fxFlex></span>
  
  <button (click)="openEditBox()" mat-icon-button class=""><mat-icon>create</mat-icon></button>
</div>

<div [innerHTML]="data?.content"></div>

<div fxLayout="column" fxLayoutAlign="start end" class="footer-content">
  <span class="light">Последнее обновление: {{data?.updated_at * 1000 | date:'medium'}}</span>
  <span class="light">Создано: {{data?.created_at * 1000 | date:'medium'}}</span>
</div>