<h2 mat-dialog-title>Загрузить новые продукты в каталог</h2>
<mat-dialog-content>
  <form [formGroup]="loadForm" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="12px">
      <mat-form-field>
        <mat-label>Каталог:</mat-label>
        <mat-select placeholder="Каталог" formControlName="catalog">
          <mat-option *ngFor="let item of catalogRange" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Год:</mat-label>
        <mat-select placeholder="Год" formControlName="year">
          <mat-option *ngFor="let item of yearRange" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Тип продуктов:</mat-label>
        <mat-select placeholder="Тип" formControlName="type">
          <mat-option *ngFor="let item of ptypes | keyvalue" [value]="item.key">{{item.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <app-file-selecter formControlName="file"></app-file-selecter>
  </form>
  
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-stroked-button mat-dialog-close>Закрыть</button>
  <button mat-raised-button (click)="loadFile()">Загрузить</button>
</mat-dialog-actions>