<div fxLayout="row" fxLayoutGap="12px">
  <div fxFlex="grow">
    <router-outlet></router-outlet>
  </div>
  <div fxFlex="40" fxFlex.gt-sm="30" id="right-nav">
    <div class="float-panel" fxLayout="column">
      <mat-nav-list fxFlex="grow">
        <a mat-list-item
           *ngFor="let prod of procedure$ | async"
           [routerLink]="['/procedure', prod.link]"
           routerLinkActive="active">
          <p matLine>{{prod.name}}</p>
        </a>
      </mat-nav-list>

      <span fxFlex="auto"></span>

      <div fxFlex="none" class="divide-bottom">
        <button mat-button (click)="openDialog()" color="primary" fxFlexFill>Добавить</button>
      </div>
    </div>
  </div>
</div>