<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
  <span ></span>
  
  <button mat-raised-button (click)="openNewProductsBox()">Загрузить</button>
  
  <span fxFlex="auto"></span>
  
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <mat-select placeholder="Каталог" [(value)]="catalogSelect" appUpdateDataSourceField>
        <mat-option *ngFor="let item of catalogRange" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Год" [(value)]="yearSelect" app-update-data-source-field>
        <mat-option *ngFor="let item of yearRange" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Поиск:</mat-label>
      <input matInput placeholder="Ключевое слово" [(ngModel)]="filterWord" appFilterDataSourceField />
      <button mat-button matSuffix mat-icon-button [disabled]="!filterWord" (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-checkbox [(ngModel)]="isOut" app-update-data-source-field>Отсутствующие в {{catalogSelect}} каталоге</mat-checkbox>
</div>
<div class="base-relative-box">
  <table mat-table [dataSource]="data$" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="code">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Код</th>
      <td mat-cell *matCellDef="let item">{{item.code}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Название</th>
      <td mat-cell *matCellDef="let item">{{item.name}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Цена каталога</th>
      <td mat-cell *matCellDef="let item">{{item.price}}</td>
    </ng-container>
    <ng-container matColumnDef="price_distribution">
      <th mat-header-cell *matHeaderCellDef>Дистрибьюторская цена</th>
      <td mat-cell *matCellDef="let item">{{item.price_distribution}}</td>
    </ng-container>
    <ng-container matColumnDef="price_wholesale">
      <th mat-header-cell *matHeaderCellDef>Оптовая цена</th>
      <td mat-cell *matCellDef="let item">{{item.price_wholesale}}</td>
    </ng-container>
    <ng-container matColumnDef="page">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Страница</th>
      <td mat-cell *matCellDef="let item">{{item.page}}</td>
    </ng-container>
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef>Бонус баллов</th>
      <td mat-cell *matCellDef="let item">{{item.points}}</td>
    </ng-container>
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef>Скидка</th>
      <td mat-cell *matCellDef="let item">{{getPercent(item.discount)}}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'isout': row.type == null || row.type == undefined, 'ismain': row.type == 1, 'other': row.type == 0}"></tr>
  </table>
  <div fxFlexFill class="overlay-solid" *ngIf="isDataSourceUpdating"></div>
</div>
<div class="inference-output">
  <h3>Примечания</h3>
  <p class="ismain"><span class="example">Зеленым фоном</span> в таблице указаны продукты из основного каталога выбранного периода.</p>
  <p class="other">Если продукт присутствует в продаже но не из основного каталога его фон будет <span class="example">серого цвета</span>.</p>
  <p class="isout">Если продукт вообще не представлен в продаже то цвет текста будет <span class="example">бледный и фон светлый</span>.</p>
</div>