$color-ismain: (#2c2014, #b8e4b6)
$color-other: #041a2c #e6e6e6
$color-isout: #93908a #f2f1ef


=row-light ($cls)
  background-color: nth($cls, 2)
  color: nth($cls, 1)
  

table
  width: 100%
  .mat-cell
    color: inherit
  .ismain
    +row-light($color-ismain)
  .other
    +row-light($color-other)
  .isout
    +row-light($color-isout)
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell
  padding-left: 10px
  padding-right: 10px
  
.base-relative-box
  position: relative
.overlay-solid
  position: absolute
  top: 0
  left: 0
  background-color: rgba(45, 45, 45, .3)
  
.inference-output
  .ismain
    .example
      +row-light($color-ismain)
  .other
    .example
      +row-light($color-other)
  .isout
    .example
      +row-light($color-isout)
      
      