<div fxLayout="row" fxLayoutGap="12px">
  <div fxFlex="grow">
    <router-outlet></router-outlet>
  </div>

  <div fxFlex="40" fxFlex.gt-sm="30" class="panel">
    <div class="float-panel" fxLayout="column">
      <mat-nav-list fxFlex="grow">
        <a mat-list-item 
           *ngFor="let promo of promotions$ | async" 
           [routerLink]="['/promotion', promo.link]" 
           routerLinkActive="active"
           [class.dead]="expirationDate(promo.validity_date_to)">
          <p matLine>{{promo.name}}</p>
          <p matLine>
            <span>{{promo.validity_date_from * 1000 | date}} - {{promo.validity_date_to * 1000 | date}}</span>
          </p>
        </a>
      </mat-nav-list>
      
      <span fxFlex="auto"></span>

      <div fxFlex="none" class="divide-bottom">
        <button mat-button (click)="addPromotionBox()" fxFlexFill>Создать акцию</button>
      </div>
    </div>
  </div>
</div>