.panel
  position: relative
mat-nav-list
  overflow: auto
  .mat-list-item
    color: #2c2c28
    &.dead
      color: #997969
    &.active
      background-color: #c2713e
      color: #e5e4ec
.divide-bottom
  border-top: 2px solid #b3a3a3
.float-panel
  position: sticky
  top: 0
  bottom: 0
  height: calc(100vh - 16px * 2)
  border: 2px solid #44997b
  box-shadow: 0 0 8px 1px rgba(45, 45, 45, .3)