<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
	<div fxFlex="50">
		<h2>Специальный ресурс</h2>
		<p>Для сотрудников компании Oriflame собраны в одном месте вся важная информация для работы, быстрого и качественного обслуживания наших любимых консультантов.</p>
	</div>
	<div fxFlex="50" fxLayout="column" fxLayoutGap="25px">
		<div class="square-box" fxLayout="column">
			<div class="h2-level3">Oriflame</div>
			<div fxLayout="row" fxLayoutAlign="space-between end" class="link-list" fxLayoutGap="8px">
        <a *ngFor="let item of sites | keyvalue" 
           target="_blank" 
           fxFlex="auto"
           [href]="'http://oriflame.' + item['key']">{{item['value']}}</a>
			</div>
		</div>
    <div fxLayout="column" class="sp-links">
      <div class="h2-level3">Специальные разделы</div>
      <div fxLayout="column" fxLayoutAlign="start start" class="square-links">
        <a routerLink="/procedure">Процедуры</a>
        <a routerLink="/promotion">Акции</a>
        <a routerLink="/product">Продукция</a>
      </div>
    </div>
	</div>
</div>