.h2-level3
  font-size: 24px
a
  text-decoration: none
.link-list
  a
    padding: 10px
    &:link, &:visited
      color: #9c8b7c
      background-color: #fff
    &:hover, &:active
      color: #9c8b7c
      background-color: #fff
.sp-links
  a 
    padding: 16px 20px
    &:link, &:visited
      color: #2786e0
      background-color: transparent
    &:hover, &:active
      color: #0a7eea
      background-color: #f1f5fe