<mat-sidenav-container class="vertical-sidenav">
  <mat-sidenav mode="side" fixedInViewport disableClose opened>
    <a *ngFor="let item of links"
       mat-list-item 
       [routerLink]="item.link"
       routerLinkActive="active"
       [routerLinkActiveOptions]="item.options">{{item.label}}</a>    
  </mat-sidenav>
  <mat-sidenav-content>
    
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>