.vertical-sidenav
  height: 100%
  a
    display: block
    text-decoration: none
mat-sidenav
  font-size: 14px
  min-width: 250px
  background-color: #383838
  a
    padding: 20px 16px
    border-top: 1px solid #4c4c4c
    border-bottom: 1px solid #313131
    color: #cdcdcd
    &:link, &:visited 
      color: #cdcdcd
    &:hover, &:active
      color: #dddddd
    &.active
      background-color: #fae09d
      color: #643437
      position: relative
      box-shadow: inset 0 0 16px 1px rgba(45,45,45,.85)
      &::after
        content: ""
        display: block
        position: absolute
        right: 0
        top: 30%
        border-width: 12px
        border-style: solid
        border-color: transparent
        border-right-color: #fff
.mat-sidenav
  border-right: none
mat-sidenav-content
  padding: 16px 24px
  box-sizing: border-box