<div fxLayout="column" fxLayoutGap="10px">
  <div>
    <button mat-raised-button color="accent" (click)="fileField.click()">Выбрать файл</button>
    <input type="file" value="Select" fxHide (change)="selectNewFile($event, fileField)" #fileField />
  </div>
  <div fxLayout="column" *ngIf="isLoaded">
    <p>Информация о файле:</p>
    <span>Имя: {{fileName}}</span>
    <span>Размер: {{fileSize}}</span>
  </div>
</div>